h1 {
    font-weight: 700;
    margin-top: 0px;
    padding-top: 0px;
  }

  p {
    font-weight: 400;
  }

body {
    font-family: 'Noto', sans-serif;
    margin: 20px;
    margin: 0px;
    margin-left: 20px;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100vh;
   color: #231F20;
    background-color: #FFFDF7;
}

p {
    font-size: 1em;
}

#pdf-container {
    /*display: block;*/
    position: sticky;
    top: 0px;
    left: 0px;
    width: 80%;
    height: 100%;
    transform: scale(1);
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
    transition: transform 0.2s, height 0.2;
}

#pdf-container-hidden {
    /*display: none;*/
    transform: scale(0);
    height: 0%;
    transition: transform 0.2s, height 0.2;
}

#link-container {
     /*display: block;*/
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: transform 0.4s, height 0.4;;
}

#link-container-hidden {
    display: none;
    width: 100%;
    height: 100%;
}

#column-left {    
    width: 100%;
    height: 95%;
}

#button-container {    
    width:fit-content;
    border-right: 5px solid #003844;
}

.btn {
    padding: 10px 20px;
    font-family: 'Noto', sans-serif;
    font-size: 1.5em;
    border-left: 5px solid #003844;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 5px solid #003844;
    color: #003844;                /* Text color */
    background-color: #33D7D1;
    border-radius: 0px;              /* Rounded corners */
    cursor: pointer;
    transition: all 0.3s ease;       /* Smooth hover animation */
  }

  .invis {
    display: none;
    height: 0px;
  }

  .btn:hover {
    background-color: #003844;     /* Fill becomes blue */
    color: #FFFDF7;              /* Text turns white */
    letter-spacing: 0.2em;
  }

  .btn:active {
      background-color: #FFFDF7; 
  }

/* Highlighted (active) button */
#sort_btn button.active {
        background-color: #003844; ; 
        color: #005366;  
}


#content-container {
    position:relative;
    font-size: 1.2em;
    justify-content: left;
    width: 100%;
    height: 95%;
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
    border: 5px solid #003844;
    background-color: #33D7D1;
}

.loaded {
    margin: -6px;
}

#main-container {
    margin-left: 40px;
    height: 90%;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 35%;
    margin-right: 40px;
    overflow: visible;
    overflow: scroll;
    padding: 10px;
}

canvas {
    width: 100%;
}

.scatter a {
    position: absolute;       /* take links out of normal flow */
    display: inline-block;
}

.listed a {
    position: static;
    display: table;
    justify-content: space-between;
    width: 100%;
    font-size: 1.3em;
    border-bottom: 5px solid #003844;
   
}

.title {
    display: table-cell;
    width: 40%;
}

.author {
    display: table-cell;
    width: 30%;
}

.date {
    display: table-cell;
    text-align: right;
    padding-right: 20px;
    width: 30%;
}

.container {
    position: relative;       /* needed for absolute children */
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

.container a {
    padding: 5px 10px;
    font-weight: 500;
    color: #003844;
    text-decoration: none;
    border-radius: 0px;
    white-space: nowrap;      /* keep text on one line */
    transition: transform 0.2s ease, letter-spacing 0.2s ease, top 1s ease, left 1s ease;
  }

  .container a:hover {
    background-color: #003844;     /* Fill becomes blue */
    color: #FFFDF7;              /* Text turns white */
    letter-spacing: 0.2em;
  }

img {
    width: 95%;   /* adjust as needed */
    height: auto;   /* keeps aspect ratio */
    display: block;
    margin: 0px auto; /* centers image horizontally */
  }

  #background {
    background-color: #003844;
    }

  .vis {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  a {
    color: #003844;
    font-weight: 600;
    text-decoration: none;
    border-radius: 0px;
    white-space: nowrap;      /* keep text on one line */
    transition: transform 0.2s ease, letter-spacing 0.2s ease, top 1s ease, left 1s ease;
  }

    a:hover {
    background-color: #003844;     /* Fill becomes blue */
    color: #FFFDF7;              /* Text turns white */
    letter-spacing: 0.05em;
  }

  #extraText{
    background-color: #33D7D1;
    padding: 20px;
  }

  #description {
    margin-bottom: -15px;
    
  }
