  h1 {
    font-weight: 700;
    margin-top: 0px;
    padding-top: 0px;
  }
  p {
    font-weight: 400;
  }


body {
    font-family: 'Noto', serif;
    font-size: 1.2em;
    margin: 20px;
    margin: 0px;
    margin-left: 20px;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

#pdf-container {
    /*display: block;*/
    position: sticky;
    top: 0px;
    left: 0px;
    overflow: auto;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: transform 0.2s, height 0.2;
}

#pdf-container-hidden {
    /*display: none;*/
    transform: scale(0);
    height: 0%;
    transition: transform 0.2s, height 0.2;
}

#link-container {
     /*display: block;*/
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: transform 0.4s, height 0.4;;
}

#link-container-hidden {
    /*display: none;*/
    transform: scale(0);
    height: 0%;
    transition: transform 0.2s, height 0.2;
    border: 0px
}

#content-container {
    position:relative;
    font-size: 1.5em;
    justify-content: left;
    width: 80%;
    height: 95%;
    overflow: scroll;
    border: 5px solid #0194a1;
    background-color: #f1fdf9;
}

.loaded {
    margin: -6px;
}

#main-container {
    justify-content: right;
    padding-left: 40px;
    width: 20%;
    height: 95%;
    margin-right: 40px;
    overflow: auto ;
}

#topLeftBtn {
    display: block;
    position: fixed;
    top: 2.4%;
    left: 20px;
    width: 40px;
    height: 40px;
    background: #eee;
    color: #eee;
    border: 1px solid #000;
    cursor: pointer;
    
    transition: transform 0.2s ease;
    z-index: 9999;
  }
  #topLeftBtn:hover {
    
    
    transform: scale(1.2,1.2);
  }

  #topLeftBtn-hidden {
    display: none;
  }

canvas {
    width: 100%;
}

.container {
    position: relative;       /* needed for absolute children */
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

.container a {
    position: absolute;       /* take links out of normal flow */
    display: inline-block;
    padding: 5px 10px;
    color: #000;
    text-decoration: none;
    border-radius: 20px;
    
    white-space: nowrap;      /* keep text on one line */
    transition: transform 0.2s ease, letter-spacing 0.2s ease;
  }

  .container a:hover {
    letter-spacing: 0.2em;
    transform: translate(-5px,0px) scale(1,1.2);
    transition: transform 0.2s ease, letter-spacing 0.2s ease;
  }

  /* draw two diagonal lines using pseudo elements */
.box::before,
.box::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 135%;          /* length of the line */
  height: 1px;          /* thickness */
  background: #000;     /* line color */
  transform-origin: center;
}

/* first diagonal: \ */
.box::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

/* second diagonal: / */
.box::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

img {
    width: 100%;   /* adjust as needed */
    height: auto;   /* keeps aspect ratio */
    display: block;
    margin: 0px auto; /* centers image horizontally */
  }